@model StudentRegistration.Models.StudentModel

<h4>StudentModel</h4>
<hr />
<!--<div class="row">
    <div class="col-md-4">
        <!--<form asp-action="View">-->

<form asp-action="Update" asp-route-Id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="FName" class="control-label"></label>
            <input asp-for="FName" class="form-control" />
            <span asp-validation-for="FName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="MName" class="control-label"></label>
            <input asp-for="MName" class="form-control" />
            <span asp-validation-for="MName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="LName" class="control-label"></label>
            <input asp-for="LName" class="form-control" />
            <span asp-validation-for="LName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Month" class="control-label"></label>
            <select asp-for="Month" asp-items="@Html.GetEnumSelectList<MonthList>()" class="form-dropdown form-control">
                <option value=""> </option>
            </select>
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Day" class="control-label"></label>
            <partial name="_Day" model="Model" />
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Year" class="control-label"></label>
            <partial name="_Year" model="Model" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<GenderList>()" class="form-dropdown form-control">
                <option value=""> Please Select </option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="StreetAddress" class="control-label"></label>
            <input asp-for="StreetAddress" class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="StreetAddress1" class="control-label"></label>
            <input asp-for="StreetAddress1" class="form-control" />
            <span asp-validation-for="StreetAddress1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="MobileNumber" class="control-label"></label>
            <input asp-for="MobileNumber" class="form-control" />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="WorkNumber" class="control-label"></label>
            <input asp-for="WorkNumber" class="form-control" />
            <span asp-validation-for="WorkNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="State" class="control-label"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ZipCode" class="control-label"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Company" class="control-label"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Courses" class="control-label"></label>
            <select class="form-dropdown form-control" asp-for="Courses" asp-items="@Html.GetEnumSelectList<CoursesList>()">
                <option value=""> Please Select </option>
            </select>
            <span asp-validation-for="Courses" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Comments" class="control-label"></label>
            <partial name="_TextArea" model="Model" />
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group offset-md-5 col-md-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
<!--   </div>
</div>-->

<div class="row">
    <div class="offset-md-5 col-md-2 btn btn-outline-info">
        <a asp-action="GetAllStudents">Back to List</a>
    </div>
   
</div>

