@model StudentModel
    <div style="margin-left:25%;margin-right:25%">
        <form>
            <div class="container">
                <div>
                    <h2>Student Registration Form</h2>
                    <label>
                        Fill out the form carefully for registration
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><b>Student Name</b></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" type="text" asp-for="FName" />
                        <label>Full Name</label>
                        <span asp-validation-for="FName"></span>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" asp-for="MName" />
                        <label>Middle Name</label>
                        <span asp-validation-for="MName"></span>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" asp-for="LName" />
                        <label>Last Name</label>
                        <span asp-validation-for="LName"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-9">
                        <label><b> Birth Date</b> </label>

                    </div>
                    <div class="col-md-3">
                        <label class="gender" asp-for="Gender"><b>Gender</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select asp-for="Month" asp-items="@Html.GetEnumSelectList<MonthList>()" class="form-dropdown form-control">
                            <option value=""> </option>
                        </select>

                        <label asp-for="Month">Month</label>
                        <span asp-validation-for="Month" class="text-danger"></span>


                    </div>
                    <div class="col-md-3">

                        <partial name="_Day" model="Model" />
                        <label asp-for="Day">Day</label>
                        <span asp-validation-for="Day" class="text-danger"></span>


                    </div>
                    <div class="col-md-3">
                        <partial name="_Year" model="Model" />
                        <label asp-for="Year">Year</label>
                        <span asp-validation-for="Year" class="text-danger"></span>

                    </div>
                    <div class="col-md-3">
                        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<GenderList>()" class="form-dropdown form-control">
                            <option value=""> Please Select </option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label><b>Address</b></label>
                    </div>
                </div>
                <div class="row">
                  
                    <div class="col-md-12">
                        <input class="form-control" asp-for="StreetAddress" type="text">
                        <label asp-for="StreetAddress">Street Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" asp-for="StreetAddress1" type="text">
                        <label asp-for="StreetAddress1">Street Address Line 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" asp-for="City" type="text">
                        <label asp-for="City">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="State" type="text">
                        <label asp-for="State">State / Province</label>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" asp-for="ZipCode" type="text">
                        <label asp-for="ZipCode">Postal / Zip Code</label>
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Email"><b>Student E-mail</b></label>
                        <input class="form-control" type="email" asp-for="Email" placeholder="ex: myname@example.com">
                        <label>example@example.com</label>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="MobileNumber"> <b>Mobile Number</b> </label>
                        <input class="form-control" type="tel" asp-for="MobileNumber" placeholder="(000) 000-0000">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="PhoneNumber"><b> Phone Number</b> </label>
                        <input class="form-control" type="tel" asp-for="PhoneNumber" placeholder="(000) 000-0000">
                    </div>
                    <div class="col-md-6">

                        <label asp-for="MobileNumber"><b>Mobile Number</b> </label>
                        <input  class="form-control"type="tel" asp-for="MobileNumber" placeholder="(000) 000-0000">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Company"><b>Company</b></label> <br>
                        <input class="form-control" type="text" asp-for="Company">
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Courses"><b>Courses</b></label>
                        <select class="form-dropdown form-control" asp-for="Courses" asp-items="@Html.GetEnumSelectList<CoursesList>()">
                            <option value=""> Please Select </option>
                        </select> <br><span asp-validation-for="Courses" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <partial name="_TextArea" model="Model" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-success">Submit Application</button>
                    </div>
                    <div class="col-md-3 offset-md-4">
                        <button type="reset" class="btn btn-outline-success">Clear Fields</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
