@model StudentModel
@{
 //  Layout = "_StudentLayout";
   Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Student</title>
</head>
<body>
    <form asp-action="Update" class="text-center" asp-route-Id="@Model.Id" method="post">
        <partial name="_View.cshtml" />
    </form>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>