@model StudentModel
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <form method="post" asp-action="Search">
            <div class="row">
                <div class="col-md-2">
                    <input type="search" placeholder="First Name" asp-for="FName" class="form-control" />
                </div>
                <div class="col-md-2">
                    <input type="search" asp-for="Email" placeholder="Email" class="form-control" />
                </div>
                <div class="col-md-3">
                    <input type="search" asp-for="Company" placeholder="company" class="form-control" />
                </div>
                <div class="col-md-2">
                <select class="form-dropdown form-control" asp-for="Courses" asp-items="@@Html.GetEnumSelectList<CoursesList>()">
                    <option value=""> Please Select </option>
                </select>
            </div>
                <div class="col-md-3 ">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>

            </div>
        </form> <br />
    </body>
    </html>